@import "~_ats/css/base.css";

/* ------------common */
#app {
    --protitle-color: #fff;
    --shadow-color: rgba(48, 82, 184, 0.5);
    --triangle-color: #39dffb;
    --card-title-color: #fff;
    --card-title-bgcolor: #0f2b8c;
    --card-title-linecolor: #4d82ca;
    --card-bdcolor: #3048b8;
    --card-bdcolor: #3048b8;
    --wrapper-bdcolor: #0e5dfb;
    --submenu-bdcolor: #0c4edf;
    --menu-hovercolor: rgb(255 255 255 / 64%)
}

/* -------------el-ui表单样式 */
.el-input .el-input__inner {
    width: 9rem;
    height: 1.88rem;
    padding-left: 0.5rem;
    color: #fff;
    font-size: 0.88rem;
    background-color: #040560;
    border: 0.0625rem solid #040560;
    box-shadow: inset -1px -1px 10px rgba(48, 82, 184, 0.5),
        inset 1px 1px 10px rgba(48, 82, 184, 0.5);
}

.el-input .el-input__prefix {
    top: -0.3rem;
    left: 12rem;
}

.el-input .el-input__suffix {
    display: none;
}

/* -------------tform-wrapper：上面表单下面表格的业务公共组件 */
.tform-wrapper {
    --head-bgcolor: rgba(7, 58, 172, 0.3);
    --head-bdcolor: #0e5dfb;
}
