@import "~_ats/css/base.css";

/* ===============common=============== */
:root {
    --color-text: #fff;
    --protitle-color: #fff;
    --shadow-color: rgba(48, 82, 184, 0.5);
    --triangle-color: #39dffb;
    --card-title-color: #fff;
    --card-title-bgcolor: #0f2b8c;
    --card-title-linecolor: #4d82ca;
    --card-bdcolor: #3048b8;
    --wrapper-bdcolor: #0e5dfb;
    --wraper-bgcolor: #02004D;
    --submenu-bdcolor: #0c4edf;
    --menu-hovercolor: rgb(255 255 255 / 64%);
    --input-bdcolor: #1843ad;
}

.card-content video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* ===============滚动条样式=============== */
/* 谷歌滚动条样式 */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    position: absolute
}

::-webkit-scrollbar-thumb {
    background-color: var(--wrapper-bdcolor);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* ===============loading表单样式=============== */
div.el-loading-mask {
    background-color: #02004db0;
}

div.el-loading-spinner .el-loading-text,
div.el-loading-spinner i {
    color: var(--triangle-color);
}

/* ===============el-ui表单样式=============== */
.el-form .el-form-item:last-of-type {
    margin-bottom: 0;
}

.el-form-item .el-form-item__label {
    color: var(--color-text);
}

.el-input .el-input__inner,
.el-date-editor.el-input__inner,
div.el-select-dropdown,
div.el-picker-panel,
div.el-picker-panel [slot=sidebar],
div.el-picker-panel__sidebar {
    background-color: #040560;
    border-color: var(--input-bdcolor);
    color: #fff;
    box-shadow: inset -1px -1px 10px var(--shadow-color),
        inset 1px 1px 10px var(--shadow-color);
}

.el-input .el-input__inner:hover,
.el-date-editor.el-input__inner:hover,
.el-input .el-input__inner:focus,
.el-date-editor.el-input__inner:focus,
.el-select:hover input.el-input__inner,
.el-select input.el-input__inner:focus,
.el-select .el-input.is-focus input.el-input__inner,
div.el-range-editor.is-active,
div.el-range-editor.is-active:hover {
    border-color: var(--wrapper-bdcolor);
}

.el-date-editor span.el-range-separator {
    color: #c0c4cc;
}

.el-date-editor input.el-range-input {
    color: inherit;
}

.el-date-editor .el-range-input {
    background: transparent;
    color: var(--color-text);
}

/* 表单下拉框 */
li.el-select-dropdown__item {
    color: var(--color-text);
}

li.el-select-dropdown__item.hover {
    background-color: #000146;
}

div.el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: var(--shadow-color);
}

div.el-popper[x-placement^=bottom] .popper__arrow {
    border-bottom-color: var(--input-bdcolor);
}

/* 日期选择下拉框 */
button.el-picker-panel__icon-btn,
button.el-picker-panel__shortcut,
table.el-date-table th {
    color: inherit;
}

table.el-date-table td.next-month,
table.el-date-table td.prev-month {
    color: #818489;
}

table.el-date-table td.in-range div,
table.el-date-table td.in-range div:hover,
table.el-date-table.is-week-mode .el-date-table__row.current div,
table.el-date-table.is-week-mode .el-date-table__row:hover div {
    background-color: #0a0b7b;
}

div.el-date-range-picker__content.is-left {
    border-color: var(--input-bdcolor);
}

/* .el-radio和el-check-box */
label.el-radio {
    color: inherit;
}

span.el-radio__inner {
    width: 27px;
    height: 27px;
    background: transparent;
    border-color: var(--input-bdcolor);
}

span.el-radio__input.is-checked .el-radio__inner {
    border-color: var(--input-bdcolor);
    background: transparent;
}

span.el-radio__inner::after {
    width: 12px;
    height: 12px;
    background: #4F78FF;
    border: 1px solid #467BFF;
}

/* 搜索框 放大镜 */
.el-input-group__append button.el-button,
.el-input-group__append div.el-select .el-input__inner,
.el-input-group__append div.el-select:hover .el-input__inner,
.el-input-group__prepend button.el-button,
.el-input-group__prepend div.el-select .el-input__inner,
.el-input-group__prepend div.el-select:hover .el-input__inner {
    /* background-color: #0b1771;
    box-shadow: inset -1px -1px 10px var(--shadow-color),
        inset 1px 1px 10px var(--shadow-color); */
    border-color: #0b1771;
}

/* ===============-tform-wrapper：上面表单下面表格的业务公共组件=============== */
.tform-wrapper {
    --head-bgcolor: rgba(7, 58, 172, 0.3);
    --head-bdcolor: var(--wrapper-bdcolor);
}

.tform-form .el-radio__inner {
    width: 22px;
    height: 22px;
}

.tform-form .el-radio__inner::after {
    width: 10px;
    height: 10px;
}

.tform-form .el-form-item {
    margin-bottom: 16px;
}

.tform-form .el-radio {
    margin-right: 25px;
}

/* 自定义表单中的tabs按钮 */
.tabs-button {
    display: flex;
    align-items: center;
}

.tabs-button-item {
    width: 80px;
    margin-right: 20px;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s;
    background: rgba(79, 120, 255, 0);
    border: 1px solid var(--input-bdcolor);
    box-shadow: inset -1px -1px 10px var(--shadow-color),
        inset 1px 1px 10px var(--shadow-color);
}

.tabs-button-active {
    background: #4F78FF;
    border-color: var(--wrapper-bdcolor);
}

/* ===============el-button及其el-link样式=============== */
.el-button {
    --border-color: #467BFF
}

button.el-button {
    border-radius: 0;
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--color-text);
    transition: all .2s;
}

button.el-button:focus,
button.el-button:hover,
.el-button.el-button--primary {
    background: #083caf;
    border-color: var(--border-color);
    color: inherit;
}

.el-button.el-button--primary:hover,
.el-button.el-button--primary:focus {
    background-color: #0A44FF;
}

.el-button.el-button--medium {
    height: 38px;
}

/* ===============el-table=============== */
div.el-table {
    color: inherit;
}

div.el-table,
div.el-table__expanded-cell.el-table,
div.el-table__expanded-cell,
div.el-table th,
div.el-table tr {
    background-color: transparent;
}

div.el-table td,
div.el-table th.is-leaf {
    border: 0;
}

div.el-table--border::after,
div.el-table--group::after,
div.el-table::before {
    background-color: transparent;
}

div.el-table--striped .el-table__body tr.even-table-style td {
    background-color: #0b1771;
}

div.el-table--striped .el-table__body tr.odd-table-style td {
    background-color: transparent;
}

div.el-table .el-table__body tr.el-table__row.current-row td,
div.el-table--enable-row-hover .el-table__body tr:hover>td {
    /* background-color: #163ea6; */
    background-color: #132184;
}

div.el-table thead {
    color: #39F8FF;
}

/* ===============table-list手写列表=============== */
.be-table-list {
    height: 100%;
}

.be-table-header {
    overflow: scroll;
}

.be-table-ul {
    height: inherit;
}

.be-table-li {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

/* 减去的是表头高度 */
.be-table-content {
    overflow: scroll;
}

.be-ishead-content {
    height: calc(100% - 46px);
}

.be-nohead-content {
    height: inherit;
}

.be-table--stripe .be-table-item:nth-of-type(even) {
    background-color: #0b1771;
}

.be-table-list .cell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: inherit;
}

.be-table-list .be-table-index.cell,
.be-table-list .be-table-oper.cell {
    flex: none;
}

.be-table-header .cell {
    height: 46px;
    color: #00ffff;
}

.be-table-item .cell {
    min-height: 46px;
}
