/* 全局样式表*/

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #000d4a url('../img/bg1.png') center top;
    background-size: cover;
    color: #666;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
body {
    padding: 0px;
    margin: 0px;
    font-family: '微软雅黑';
}

li {
    list-style-type: none;
}

i {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}

img {
    border: none;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

a.active,
a:focus {
    outline: none !important;
    text-decoration: none;
}

ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none !important;
}


/* 谷歌滚动条样式 */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: absolute
}

 ::-webkit-scrollbar-thumb {
    background-color: #5bc0de
}

 ::-webkit-scrollbar-track {
    background-color: #ddd
}